html,
body {
  overflow-x: hidden !important;
}

button {
  border-radius: 0 !important;
}

.message_and_navbar {
  z-index: 1000;
}

/* Shipping message */

.shipping_message {
  height: 40px;
  font-size: 10px;
  letter-spacing: 0.031em;
}

@media screen and (min-width: 1200px) {
  .shipping_message {
    font-size: 13px;
    letter-spacing: 0.041em;
  }

  .shipping_message strong {
    font-size: 13px;
  }
}

/* Navbar */

.nav {
  height: 63px;
}

@media screen and (min-width: 1200px) {
  .nav {
    height: 85px;
  }
}

.bars {
  transform: scale(1.8);
}

.logo_img {
  width: 120px;
  height: 42px;
}

@media screen and (min-width: 1226px) {
  .logo_img {
    width: 151px;
    height: 53px;
  }
}

.items {
  width: 20px;
  height: 20px;
  font-size: 13px;
}

.nav_list {
  font-size: 15px;
  letter-spacing: 0.066em;
  cursor: pointer;
}

/* Offcanvas */

.offcanvas-backdrop.show {
  margin-top: 100px !important;
  opacity: 0.7;
}

.mobile_nav_list {
  font-size: 15px;
  letter-spacing: 0.066em;
}

.offcanvas_champagne li {
  font-size: 16px;
  letter-spacing: 0em;
}

#face:hover,
.dropdown_parent:hover {
  color: var(--bs-copper);
}

#face:after,
.dropdown_parent:after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: var(--bs-copper);
  height: 1px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#face:hover:after,
#face:focus:after,
#face:active:after,
.dropdown_parent:hover:after,
.dropdown_parent:focus:after,
.dropdown_parent:active:after {
  right: 0;
}

.dropdown_parent {
  transition: all 0.3s ease-out;
}

.dropdown_parent:hover > .dropdown-content {
  display: block;
}

.dropdown-content {
  top: 30px;
  right: -77px;
  z-index: 3;
  display: none;
  cursor: pointer;
  width: max-content;
}

.dropdown_items {
  font-size: 15px;
  color: black;
}

.dropdown_items:hover {
  color: var(--bs-copper);
}

/* Offcanvas Search*/

.offcanvas-top {
  top: 100px !important;
}

.search_input {
  font-size: 18px !important;
}

.close {
  transform: scale(1.4);
}

/* Hero section */

@media screen and (min-width: 1200px) {
  .hero_section_text {
    background: transparent;
  }
}

.hero_section_img {
  z-index: 3;
}

.hero_section_text {
  z-index: 3;
}

.hero_big_screen {
  background-image: url("../Images/heroBackgroundImageDesktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero_paragraph {
    width: 65%;
  }

  .hero_big_screen {
    height: 78vh;
  }
}

/* Scrolling text */

/* Swiper */

.swiper-slide {
  height: 430px;
}

.first-next {
  font-family: "swiper-icons";
  padding: 1.3%;
}

.new {
  top: 20px !important;
  left: 30px !important;
}

.bestSeller {
  top: 20px !important;
  left: 30px !important;
}

.description {
  bottom: -20px;
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6,
.color7,
.color8,
.color9,
.color10,
.color11,
.color12,
.color13,
.color14,
.color15,
.color16,
.color17,
.color18 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color1 {
  background: var(--bs-copper);
}

.color2 {
  background: #9e6f73;
}

.color3 {
  background: #c8877c;
}

.color4 {
  background: #eaa07f;
}

.color5 {
  background: #e9a69e;
}

.color6 {
  background: #91879f;
}

.color7 {
  background: #9b7e6c;
}

.color8 {
  background: #635143;
}

.color9 {
  background: #f0d0b5;
}

.color10 {
  background: #fbefa3;
}

.color11 {
  background: #f0f0f0;
}

.color12 {
  background: #edd8b5;
}

.color13 {
  background: #efce9c;
}

.color14 {
  background: #e0c099;
}

.color15 {
  background: #ecc696;
}

.color16 {
  background: #cfab7e;
}

.color17 {
  background: #c79c64;
}

.color18 {
  background: #a6764f;
}

.shades_text {
  font-size: 13px;
}

.addToBag {
  bottom: -150px;
  opacity: 0;
  transition: all 0.1s ease;
}

.swiper-slide:hover > .addToBag {
  opacity: 1;
  bottom: -40px;
}

/* Nature meets Science */

.nature_science_img_text {
  width: 73.71px;
  height: fit-content;
}

@media screen and (min-width: 1200px) {
  .nature_science_img_text {
    width: 110px;
  }
}

/* Natural */

/* Testimonials */

.glamour_img_div {
  width: 165.75px;
  height: 36px;
}

.swiper-pagination-bullet {
  height: 2px !important;
  width: 30px !important;
  background: var(--bs-antique) !important;
}

.swiper3 {
  height: 334px;
  width: 390px;
}

@media screen and (min-width: 1200px) {
  .swiper3 {
    width: 812px;
  }
}

/* Makeup & Skin Care */

.makeupTextDiv h6 {
  font-family: var(--bs-font-karla);
  font-weight: 400;
  letter-spacing: 0.061em;
  color: var(--bs-copper);
}

@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 650px;
    padding-top: 60px;
    padding-bottom: 130px;
  }
}

/* Changing Background */

.background_text_and_buttons {
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .background_container {
    height: fit-content;
  }

  .background_text_and_buttons {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .background_text_and_buttons {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .background_text_and_buttons {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

/* Clean beauty looks good on you */
.beauty_slide {
  flex-shrink: inherit !important;
}
/* Footer */

.form-floating > .form-control {
  border: none !important;
  outline: none !important;
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-floating > .form-control {
  height: 45px !important;
}

.form-floating > label {
  padding: 0 !important;
  top: 10px;
  left: 15px;
}

.subscribe_input::placeholder {
  font-size: 14px;
  color: black;
}

.subscribe_btn {
  font-size: 12px;
  color: var(--bs-copper);
}

.instagram,
.facebook,
.pinterest,
.twitter,
.youtube {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50% !important;
}

#instagram,
#facebook,
#pinterest,
#twitter,
#youtube {
  width: 16px !important;
  height: 13.33px !important;
}

.footer_paragraph {
  border: 1px solid #cdb4a1;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-next {
  transform: rotate(45deg) !important;
  width: 35px !important;
  height: 35px !important;
}

.swiper-button-next:after {
  width: 35px !important;
  height: 35px !important;
}
