html,
body {
  overflow-x: hidden !important;
}

button {
  border-radius: 0 !important;
}

.message_and_navbar {
  z-index: 1000;
}

/* Shipping message */

.shipping_message {
  height: 40px;
  font-size: 10px;
  letter-spacing: 0.031em;
}

@media screen and (min-width: 1200px) {
  .shipping_message {
    font-size: 13px;
    letter-spacing: 0.041em;
    height: 37px;
  }

  .shipping_message strong {
    font-size: 13px;
  }
}

/* Navbar */

.navbar {
  height: 63px;
}

@media screen and (min-width: 1200px) {
  .nav {
    height: 85px;
  }
}

.bars {
  transform: scale(1.8);
}

.logo_img {
  width: 120px;
  height: 42px;
}

@media screen and (min-width: 1226px) {
  .logo_img {
    width: 151px;
    height: 53px;
  }
}

.items {
  width: 20px;
  height: 20px;
  font-size: 13px;
}

.nav_list {
  font-size: 15px;
  letter-spacing: 0.066em;
  cursor: pointer;
}

/* Offcanvas */

.offcanvas-backdrop.show {
  margin-top: 120px !important;
  opacity: 0.7;
}

.mobile_nav_list {
  font-size: 15px;
  letter-spacing: 0.066em;
}

.offcanvas_champagne li {
  font-size: 16px;
  letter-spacing: 0em;
}

#face:hover,
.dropdown_parent:hover {
  color: var(--bs-copper);
}

#face:after,
.dropdown_parent:after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: var(--bs-copper);
  height: 1px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#face:hover:after,
#face:focus:after,
#face:active:after,
.dropdown_parent:hover:after,
.dropdown_parent:focus:after,
.dropdown_parent:active:after {
  right: 0;
}

.dropdown_parent {
  transition: all 0.3s ease-out;
}

.dropdown_parent:hover > .dropdown-content {
  display: block;
}

.dropdown-content {
  top: 50px;
  right: -77px;
  z-index: 3;
  display: none;
  cursor: pointer;
  width: max-content;
}

.dropdown_items {
  font-size: 15px;
  color: black;
  margin-bottom: 14px;
}

.dropdown_items:hover {
  color: var(--bs-copper);
}

/* Offcanvas Search*/

.offcanvas-top {
  top: 120px !important;
}

.search_input {
  font-size: 18px !important;
  left: 0 !important;
}

.close {
  transform: scale(1.4);
}

.hide {
  display: none !important;
}

/* Hero section */
.hero_section_text {
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .hero_section_text {
    background: transparent;
  }
}

.hero_section_img {
  z-index: 3;
}

.hero_section_text {
  z-index: 3;
}

.hero_big_screen {
  background-image: url("../Images/heroBackgroundImageDesktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero_big_screen {
    height: 84vh;
  }
}

/* Scrolling text */

/* Swiper */

.swiper-slide {
  height: 430px;
}

.new {
  top: 15px !important;
  left: 18px !important;
}

.bestSeller {
  top: 15px !important;
  left: 18px !important;
}

.description {
  bottom: -20px;
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6,
.color7,
.color8,
.color9,
.color10,
.color11,
.color12,
.color13,
.color14,
.color15,
.color16,
.color17,
.color18 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color1 {
  background: var(--bs-copper);
}

.color2 {
  background: #9e6f73;
}

.color3 {
  background: #c8877c;
}

.color4 {
  background: #eaa07f;
}

.color5 {
  background: #e9a69e;
}

.color6 {
  background: #91879f;
}

.color7 {
  background: #9b7e6c;
}

.color8 {
  background: #635143;
}

.color9 {
  background: #f0d0b5;
}

.color10 {
  background: #fbefa3;
}

.color11 {
  background: #f0f0f0;
}

.color12 {
  background: #edd8b5;
}

.color13 {
  background: #efce9c;
}

.color14 {
  background: #e0c099;
}

.color15 {
  background: #ecc696;
}

.color16 {
  background: #cfab7e;
}

.color17 {
  background: #c79c64;
}

.color18 {
  background: #a6764f;
}

.shades_text {
  font-size: 13px;
}

.addToBag {
  bottom: -150px;
  opacity: 0;
  transition: all 0.1s ease;
}

.swiper-slide:hover > .addToBag {
  opacity: 1;
  bottom: -60px;
}

/* Nature meets Science */

.nature_science_img_text {
  width: 73.71px;
}
.nature_second {
  margin-top: 50px !important;
}

@media screen and (min-width: 1200px) {
  .nature_science_img_text {
    width: 110px;
  }
}

/* Natural */

/* Testimonials */

.glamour_img_div {
  width: 165.75px;
  height: 36px;
}

.swiper-pagination-bullet {
  height: 2px !important;
  width: 30px !important;
  background: var(--bs-antique) !important;
  border-radius: 0 !important;
}

.swiper3 {
  height: 334px;
}

@media screen and (min-width: 1200px) {
  .swiper3 {
    width: 812px;
  }
}

/* Makeup & Skin Care */

.makeupTextDiv h6 {
  font-family: var(--bs-font-karla);
  font-weight: 400;
  letter-spacing: 0.061em;
  color: var(--bs-copper);
}

@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 650px;
    padding-top: 60px;
    padding-bottom: 130px;
  }
}

/* Changing Background */

.background_text_and_buttons {
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .background_container {
    height: fit-content;
  }

  .background_text_and_buttons {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .background_text_and_buttons {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .background_text_and_buttons {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

/* Clean beauty looks good on you */
.beauty_slide {
  flex-shrink: inherit !important;
}
/* Footer */

.form-floating > .form-control {
  border: none !important;
  outline: none !important;
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-floating > .form-control {
  height: 45px !important;
}

.form-floating > label {
  padding: 0 !important;
  top: 10px;
  left: 15px;
}

.subscribe_input::placeholder {
  font-size: 14px;
  color: black;
}

.subscribe_btn {
  font-size: 12px;
  color: var(--bs-copper);
}

.instagram,
.facebook,
.pinterest,
.twitter,
.youtube {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50% !important;
}

#instagram,
#facebook,
#pinterest,
#twitter,
#youtube {
  width: 16px !important;
  height: 13.33px !important;
}

.footer_paragraph {
  border: 1px solid #cdb4a1;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "" !important;
}
.first-next {
  width: 39.5px !important;
  height: 39.5px !important;
  transform: rotate(45deg);
}

.swiper-button-next:after {
  content: "";
}

.product-wrapper {
  padding-top: 40px;
  padding-bottom: 59.82px;
}

.nature_science_container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.natural_container {
  padding-top: 65px;
  padding-bottom: 65px;
}

.natural_paragraph {
  margin-top: 0.75rem;
}

.natural_btn {
  margin-top: 35px;
}

.natural_mobile_swiper {
  margin-top: 50px;
}

.testimonirals_container {
  padding-top: 60px;
  padding-bottom: 10px;
}

.testimonial_text {
  margin-top: 20px;
}

.glamour_img_div {
  margin-top: 45px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 60px !important;
}

.makeup_and_skin_care {
  padding-top: 84px;
  padding-bottom: 65px;
}

.makeup-title {
  margin-top: 70px;
}

.makeup-natural {
  margin-top: 10px;
}

.makeup-text {
  margin-top: 12px;
  padding: 0 20px;
}

.makeup-learn-btn {
  margin-top: 35px;
}

.makeup-commitment-btn {
  margin-top: 20px;
}

.background_container {
  padding-top: 18px;
}

.changing_subtitle {
  margin-top: 10px;
}

.background_btn_container {
  margin-top: 20px;
}

.clean_beauty_container {
  padding-top: 60px;
  padding-bottom: 5px;
}

.clean-beauty-text {
  margin-top: 12px;
}

.swiper4 {
  margin-top: 40px;
}

.footer-subscribe {
  padding-top: 75px;
}

.footer-signup {
  margin-top: 10px;
}

.input_container {
  margin-top: 20px;
}

.social_icons_container {
  margin-top: 30px;
}

.links-container {
  margin-top: 60px;
}

.footer-link {
  margin-top: 12px;
}

.footer_paragraph_container {
  padding-top: 40px;
}

.footer_copyright {
  padding-top: 40px;
  padding-bottom: 24px;
}

.hero_paragraph {
  margin-top: 20px;
}

.shop_btn {
  margin-top: 25px;
}

.mobile-upper-list {
  padding: 35px 0 35px 30px;
}

.mobile-bottom-list {
  padding: 35px 0 59px 30px;
}

.mobile_nav_list {
  margin-bottom: 25px;
}

.mr-nav {
  margin-right: 19px;
}

.dropdown-content {
  padding: 20px 0 20px 20px;
}

.search-search {
  margin-top: 47px;
  width: 898px;
}

.section-padding {
  padding-left: 18px;
  padding-right: 18px;
}

.stars_container {
  margin-top: 13.7px;
}

.nature_text {
  margin-top: 12px;
}

.icon_container {
  margin-top: 66.81px;
}

.learn_btn {
  margin-top: 50px;
}

.list_discover {
  margin-top: 22px;
}

.products_container {
  padding-top: 59px;
  padding-bottom: 60px;
}

.nature_img {
  width: 80px;
  height: 74.56px;
}

@media screen and (min-width: 768px) {
  #faceBtn,
  #eyesBtn,
  #lipsBtn,
  #skincareBtn {
    margin-right: 20px !important;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    padding-left: 39px !important;
    padding-right: 39px !important;
  }

  .list_discover {
    margin-top: 0;
  }

  .list_customer,
  .list_discover {
    margin-left: 108px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    height: 85px;
  }

  .hero_big_screen {
    padding: 0 45px;
  }

  .hero_paragraph {
    margin-top: 21px;
  }
  .shop_btn {
    margin-top: 26px;
  }

  .products_container {
    padding-top: 65px;
    padding-bottom: 46px;
    padding-left: 39px !important;
    padding-right: 10px !important;
  }

  .description {
    display: none;
  }

  .product-desc {
    margin-top: 10px;
  }
  .stars_container {
    margin-top: 17px;
  }

  .nature_science_container {
    padding: 80px 98px !important;
  }

  .icon_container {
    margin-top: 60px;
  }

  .learn_btn {
    margin-top: 43px;
  }

  .section-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .testimonirals_container {
    padding: 120px 0 60px 0;
  }

  .makeup_and_skin_care {
    padding: 120px 79px;
  }
  .makeupTextDiv {
    padding-left: 72px;
  }
  .makeup-learn-btn {
    margin-top: 0;
  }

  .btn_div {
    margin-top: 35px;
  }

  .background_container {
    padding: 40px 33px 0 40px;
  }

  .background_btn_container {
    margin-top: 30px;
  }
  .swiper4 {
    margin-top: 50px;
  }
  .clean_beauty_container {
    padding: 80px 0 5px 0;
  }
  .footer-signup,
  .input_container {
    margin-top: 12px;
  }
  .footer_paragraph_container {
    padding-top: 76px;
  }
  .footer_paragraph_container {
    padding-bottom: 16px;
  }
  .product-wrapper {
    padding-bottom: 93.82px;
  }
  .commitment_btn {
    margin-left: 22px !important;
  }

  .input_container {
    min-width: 434px !important;
  }
  .nature_img {
    width: 96.56px;
    height: 90px;
  }
  .nature_second {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 1440px) {
  .mr-nav {
    margin-right: 36px;
  }
  .natural_slide {
    margin-left: 7px;
  }
}
